<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <h1>admin</h1>
    <form action="/api/users/admin" method="POST">
      
      v1:<input type="number" name="v" id="v" value="0"><br><br>
      
      v2:<input type="number" name="w" id="w" value="0"><br><br>
      <input type="submit" name="submit" id="submit">
    </form>

</body>
</html>