<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>HELLO FROM DASHBOARD</h1>
    <br><br>
    <form action="/api/users/vaccine1" method="GET">
        <input type="submit" name="vaccine1" id="vaccine1" value="vaccine1">
    </form>
    <br><br>
    <form action="/api/users/vaccine2" method="GET">
        <input type="submit" name="vaccine2" id="vaccine2" value="vaccine2">
    </form>
</body>
</html>